header(class="header")
  div(class="header__content container row row--full-height")
    div(class="column row")
      a(
        class="header__logo"
        href="/"
      ) Black ChMS
      nav(
        class="header__navigation row"
      )
        a(
          class="link header__link column column--with-offsets"
          href="#"
        ) Products
        a(
          class="link header__link column column--with-offsets"
          href="#"
        ) Pricing
        a(
          class="link header__link column column--with-offsets"
          href="#"
        ) Learn
